    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <!--Sidebar content-->
                <p class="text-info">Total number of phones: {{phones.length}}</p>
                Search: <input type="text" ng-model="query">
                <div>Sort by:</div>
                <select ng-model="orderProp">
                    <option value="name">Alphabetical</option>
                    <option value="age">Newest</option>
                </select>

            </div>
            <div class="span10">
                <!--Body content-->

                <ul class="phones">
                    <li ng-repeat="phone in phones | filter:query | orderBy:orderProp" class="thumbnail phone-listing">
                        <a href="#/phones/{{phone.id}}" class="thumb"><img ng-src="{{phone.imageUrl}}"></a>     <!-- We redirect to the correct view when the user click on the picture -->
                        <a href="#/phones/{{phone.id}}">{{phone.name}} ({{phone.price}}€)</a>                   <!-- We redirect to the correct view when the user click on the description -->
                        <p>{{phone.snippet}}</p>
                    </li>
                </ul>

            </div>
        </div>
    </div>