<!DOCTYPE html>
<html>
<head>
    <title>Dvd catalog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>

    <h1>Oops something went wrong!</h1>
    <a href="/" class="btn btn-info">Back</a>
    <!--<img src="../../public/img/dvd-catalog/404.jpg" style="width:50%;" />-->
</body>
</html>
