<!DOCTYPE html>
<html>
<head>
    <title>Dvd catalog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap-2.3.1.css">
</head>
<body>
    <a href="/">
        <img src="img/dvd-catalog/404_3.jpg" style="width:100%;" />
    </a>
    <!--<div>-->
        <!--<a href="/" class="btn btn-info">Back</a>-->
    <!--</div>-->
</body>
</html>
