<!DOCTYPE html>
<html>
<head>
    <title>Dvd catalog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>
<div class="container">
    <h1>Oops something went wrong</h1>
    <br/>
    <span>500</span>

    <div id="content error-message-box error-stack-trace">
      <pre>
        <%= error %>
      </pre>
    </div>
</div>
</body>
</html>
