<!DOCTYPE html>
<html>
<head>
    <title>DVD catalog - SignIn</title>

    <!-- CSS -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap-2.3.1.css">
    <link rel="stylesheet" href="css/signin.css">

    <!-- Libraries -->
    <!-- jQuery is used for JavaScript animations (include this before angular.js) -->
    <script src="lib/jQuery/jquery-1.9.1.min.js"></script>

    <!-- Bootstrap library for popover tooltips (require by bootstrap-ui) -->
    <script src="lib/Bootstrap/bootstrap.js"></script>

    <!--Slider-in icons-->
    <script type="text/javascript">
        $(document).ready(function() {
            $(".username").focus(function() {
                $(".user-icon").css("left","-48px");
            });
            $(".username").blur(function() {
                $(".user-icon").css("left","0px");
            });

            $(".password").focus(function() {
                $(".pass-icon").css("left","-48px");
            });
            $(".password").blur(function() {
                $(".pass-icon").css("left","0px");
            });
        });
    </script>
</head>
<body>

<!--<div class="container">-->
    <!--&lt;!&ndash;<form method="post" action="/user/login" class="form-signin">&ndash;&gt;-->
        <!--&lt;!&ndash;<h2 class="form-signin-heading">Please sign in</h2>&ndash;&gt;-->
        <!--&lt;!&ndash;<input type="text" name="username" class="form-control" placeholder="User name" required autofocus>&ndash;&gt;-->
        <!--&lt;!&ndash;<input type="password" name="password" class="form-control" placeholder="Password" required>&ndash;&gt;-->
        <!--&lt;!&ndash;<button class="btn btn-primary" type="submit">Sign in</button>&ndash;&gt;-->
    <!--&lt;!&ndash;</form>&ndash;&gt;-->


<% if( locals.message )  { %>
<div class="alert alert-danger"><%= locals.message %></div>
<%  } %>
    <!--<form action="/user/login" method="post" class="form-signin">-->
        <!--<h2>Identifiez vous s'il vous plait</h2>-->
        <!--<div>-->
            <!--<label>Nom d'utilisateur :</label>-->
            <!--<input type="text" name="username" placeholder="Nom d'utilisateur" required autofocus/><br/>-->
        <!--</div>-->
        <!--<div>-->
            <!--<label>Mot de passe :</label>-->
            <!--<input type="password" name="password" placeholder="Mot de passe" required/>-->
        <!--</div>-->
        <!--<div>-->
            <!--<button type="submit" class="btn btn-primary">Envoyer</button>-->
        <!--</div>-->
    <!--</form>-->
<!--</div>-->

<!--WRAPPER-->
<div id="wrapper">

    <!--SLIDE-IN ICONS-->
    <div class="user-icon"></div>
    <div class="pass-icon"></div>
    <!--END SLIDE-IN ICONS-->

    <!--LOGIN FORM-->
    <form name="login-form" action="/user/login" method="post" class="login-form">

        <!--HEADER-->
        <div class="header">
            <!--TITLE--><h1>Formulaire de connexion</h1><!--END TITLE-->
        </div>
        <!--END HEADER-->

        <!--CONTENT-->
        <div class="content">
            <!--USERNAME--><input name="username" type="text" onfocus="this.value=''" placeholder="Nom d'utilisateur" class="input username" required autofocus/><!--END USERNAME-->
            <!--PASSWORD--><input name="password" type="password" onfocus="this.value=''" placeholder="Mot de passe" class="input password" required/><!--END PASSWORD-->
        </div>
        <!--END CONTENT-->

        <!--FOOTER-->
        <div class="footer">
            <!--LOGIN BUTTON--><input type="submit" name="submit" value="Connexion" class="button" /><!--END LOGIN BUTTON-->
            <!--REGISTER BUTTON-->
            <!--<input type="submit" name="submit" value="Register" class="register" />-->
            <!--END REGISTER BUTTON-->
        </div>
        <!--END FOOTER-->

    </form>
    <!--END LOGIN FORM-->

</div>
<!--END WRAPPER-->

<!--GRADIENT--><div class="gradient"></div><!--END GRADIENT-->
</body>
</html>