<!DOCTYPE html>
<html>
<head>
    <title>Dvd catalog - Maintenance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="css/bootstrap.min-2.3.2.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.min-2.3.2.css" rel="stylesheet">
</head>
<body>
    <img src="img/dvd-catalog/maintenance.jpg" style="width:100%;" />
</body>
</html>
