<!doctype html>
<!--[if lt IE 7]>
<html ng-app="dvdCatApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html ng-app="dvdCatApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html ng-app="dvdCatApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html ng-app="dvdCatApp" class="no-js"> <!--<![endif]-->
<head>
    <!--<meta charset="utf-8">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
    <title>DVD catalog</title>

    <!-- CSS -->
    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="css/bootstrap-2.3.1.css">-->
    <!--<link rel="stylesheet" href="css/bootstrap-theme.css">-->
    <!--<link href="css/bootstrap-responsive-2.3.1.css" rel="stylesheet">-->
    <link href="css/bootstrap.min-2.3.2.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.min-2.3.2.css" rel="stylesheet">

    <!-- Our CSS -->
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/app.css">
    <!-- For CSS Transitions and/or Keyframe Animations -->
    <link rel="stylesheet" href="css/animations.css">

    <!-- Libraries -->
    <!-- jQuery is used for JavaScript animations (include this before angular.js) -->
    <script src="lib/jQuery/jquery-1.9.1.min.js"></script>

    <!-- Angular library -->
    <!-- Note: shim.js MUST BE PLACED BEFORE angular.js and angular-file-upload.js AFTER angular.js-->
    <script src="lib/angular/angular-file-upload-shim.min.js"></script>
    <script src="lib/angular/angular.js"></script>
    <!--Include this file to have fr language (for Date object)-->
    <script src="lib/angular/i18n/angular-locale_fr-fr.js"></script>
    <script src="lib/angular/angular-file-upload.min.js"></script>
    <!-- Require module to handle route-->
    <script src="lib/angular/angular-route.js"></script>
    <!-- Require module for create our ressource -->
    <script src="lib/angular/angular-resource.js"></script>
    <!-- Required module to enable animation support in AngularJS -->
    <script src="lib/angular/angular-animate.js"></script>


    <!-- Bootstrap library for popover tooltips (require by bootstrap-ui) -->
    <!--<script src="lib/Bootstrap/bootstrap-2.3.1.js"></script>-->
    <script src="lib/Bootstrap/modal.js"></script>
    <script src="lib/Bootstrap/tooltip.js"></script>
    <script src="lib/Bootstrap/popover.js"></script>
    <script src="lib/Bootstrap/tab.js"></script>

    <!-- Bootstrap-UI library for popover tooltips -->
    <!--<script src="lib/Bootstrap-UI/ui-bootstrap-0.9.0.min.js"></script>-->
    <script src="lib/Bootstrap-UI/ui-bootstrap-tpls-0.8.0.min.js"></script>

    <!-- Bootbox library for dialog box -->
    <script src="lib/Bootbox/bootbox.js"></script>

    <!--Underscore library for array and object functions-->
    <script src="lib/underscore/underscore-min.js"></script>

    <!-- JavaScript files -->
    <script src="js/dvdListCtrl.js"></script>
    <script src="js/dvdAddCtrl.js"></script>
    <script src="js/dvdDetailsCtrl.js"></script>
    <script src="js/dvdEditCtrl.js"></script>
    <script src="js/userAccountCtrl.js"></script>
    <script src="js/userAdministrationCtrl.js"></script>
    <script src="js/contactCtrl.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/services.js"></script>
    <script src="js/animations.js"></script>
    <script src="js/app.js"></script>

    <!-- Script that handle li active class -->
    <script>
        $(document).ready(function(){
            <!-- li component -->
            $('.nav li').click(function(event){
                // Remove all pre-existing active classes
                $('.active').removeClass('active');

                // Add the active class to the link we clicked
                $(this).addClass('active');

                //Load the content
                //e.g.
                //load the page that the link was pointing to
                //$('#content').load($(this).find(a).attr('href'));
//                event.preventDefault();
                // To prevent your event from reaching .clickable, you need to add the event parameter to your callback function and then call the stopPropagation method on it.
                event.stopPropagation();
            });

            <!-- a component -->
            $('.navbar-inner a').click(function(event){
                // Remove all pre-existing active classes
                $('.active').removeClass('active');

                // We set an 'active' class to 'acceuil' ancre
                $('#homeLink ').addClass('active');
            });
        });
    </script>
</head>

<body>
<!-- Navbar -->
<div class="navbar">
    <div class="navbar-inner my-navbar">
        <div class="container">
            <!-- Home -->
            <a href="#" class="brand">
                <span>Acceuil</span>
            </a>

            <!-- Space Divider -->
            <ul class="nav">
                <li class="divider-vertical"></li>
            </ul>

            <!-- User information and Home -->
            <ul class="nav">
                <!-- User information -->
                <li class="navbar-text">Bonjour <%= user ? user.username : "unknown" %></li>
                <li class="divider-vertical"></li>
                <li id="homeLink" class="active">
                    <a href="#">
                        <i class="icon-home"></i>
                        <span>Acceuil</span>
                    </a>
                </li>
            </ul>

            <!-- Space Divider with logout link -->
            <ul class="nav pull-right">
                <li class="divider-vertical"></li>
                <% if (user.isAdmin) { %>
                    <li>
                        <a href="#/user/administration">
                            <i class="icon-wrench"></i>
                            <span>Administration</span>
                        </a>
                    </li>
                    <li class="divider-vertical"></li>
                <% } %>
                <li>
                    <a href="#/user/account">
                        <i class="icon-user"></i>
                        <span>Compte</span>
                    </a>
                </li>
                <li class="divider-vertical"></li>
                <li>
                    <a href="#/contact">
                        <i class="icon-envelope"></i>
                        <span>Contact</span>
                    </a>
                </li>
                <li class="divider-vertical"></li>
                <li>
                    <a href="/user/logout">
                        <i class="icon-off"></i>
                        <span>Deconnexion</span>
                    </a>
                </li>
            </ul>
        </div>
        <!--End container-->
    </div>
    <!--End navbar-inner-->
</div>
<!-- end navbar -->

<!-- Content -->
<div class="wrapper">
    <div class="view-container">
        <div ng-view class="view-frame"></div>
    </div>
    <div class="push"></div>
</div>

<!-- Footer -->
<footer class="footer">
    <div class="container">
        <p>Copyright &copy; - Mathieu PALOMBA - 2014</p>
        <ul class="inline footer-links">
            <li>
                <span>Mes autres sites :</span>
            </li>
            <li>
                <a href="http://mathieu31.jimdo.com/">Jimdo</a>
            </li>
        </ul>
    </div>
</footer>

<!--<a class="btn btn-primary btn-sm" data-toggle="modal" data-target=".bs-modal-sm">-->
    <!--<span>Small modal</span>-->
<!--</a>-->
<!--<div class="modal fade bs-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">-->
    <!--<div class="modal-dialog modal-sm">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                <!--<h4 class="modal-title" id="myModalLabel">Modal title</h4>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
                <!--...-->
            <!--</div>-->
            <!--<div class="modal-footer">-->
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
</body>
</html>