<!doctype html>
<!--[if lt IE 7]>
<html ng-app="dvdCatApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html ng-app="dvdCatApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html ng-app="dvdCatApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html ng-app="dvdCatApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>DVD catalog</title>

    <!-- CSS -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap-2.3.1.css">
    <!--<link rel="stylesheet" href="css/bootstrap-theme.css">-->

    <!-- Our CSS -->
    <link rel="stylesheet" href="css/app.css">
    <!-- For CSS Transitions and/or Keyframe Animations -->
    <link rel="stylesheet" href="css/animations.css">

    <!-- Libraries -->
    <!-- jQuery is used for JavaScript animations (include this before angular.js) -->
    <script src="lib/jQuery/jquery-1.9.1.min.js"></script>

    <!-- Angular library -->
    <script src="lib/angular/angular.js"></script>
    <!-- Require module to handle route-->
    <script src="lib/angular/angular-route.js"></script>
    <!-- Require module for create our ressource -->
    <script src="lib/angular/angular-resource.js"></script>
    <!-- Required module to enable animation support in AngularJS -->
    <script src="lib/angular/angular-animate.js"></script>

    <!-- Bootstrap library for popover tooltips (require by bootstrap-ui) -->
    <script src="lib/Bootstrap/bootstrap-2.3.1.js"></script>
    <script src="lib/Bootstrap/tooltip.js"></script>
    <script src="lib/Bootstrap/popover.js"></script>

    <!-- Bootstrap-UI library for popover tooltips -->
    <!--<script src="lib/Bootstrap-UI/ui-bootstrap-0.9.0.min.js"></script>-->
    <script src="lib/Bootstrap-UI/ui-bootstrap-tpls-0.10.0.min.js"></script>

    <!-- Bootbox library for dialog box -->
    <script src="lib/Bootbox/bootbox.js"></script>

    <!-- JavaScript files -->
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/services.js"></script>
    <script src="js/animations.js"></script>
    <script src="js/app.js"></script>
</head>
<body>
<!-- navbar -->
<div class="navbar">
    <div class="navbar-inner myNavbar">
        <a href="#" class="brand glyphicon glyphicon-home">Accueil</a>
        <!-- Space Divider -->
        <ul class="nav">
            <li class="divider-vertical"></li>
        </ul>

        <!-- Space Divider with logout link -->
        <ul class="nav pull-right">
            <li class="divider-vertical"></li>
            <li><a href="/user/logout">Deconnexion</a></li>
        </ul>

        <!-- User information -->
        <p class="navbar-text">Bonjour <%= user ? user.username : "unknown" %></p>
    </div>
</div>
<!-- end navbar -->

<div class="view-container">
    <div ng-view class="view-frame"></div>
</div>

</body>
</html>