<!DOCTYPE html>
<html>
<head>
    <!--------------------
    SIGN UP FORM
    by: Amit Jakhu
    www.amitjakhu.com
    Modified by: Palomba Mathieu
    --------------------->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
    <title>DVD catalog - SignUp</title>

    <!-- CSS -->
    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="css/bootstrap-2.3.1.css">-->
    <link rel="stylesheet" href="css/bootstrap.min-2.3.2.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.min-2.3.2.css">

    <!-- Our CSS -->
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/sign-up.css">

    <!-- Libraries -->
    <!-- jQuery is used for JavaScript animations (include this before angular.js) -->
    <script src="lib/jQuery/jquery-1.9.1.min.js"></script>

    <!--Slider-in icons-->
    <script type="text/javascript">
        $(document).ready(function() {
            $(".username").focus(function() {
                $(".user-icon").css("left","-48px");
            });
            $(".username").blur(function() {
                $(".user-icon").css("left","0px");
            });

            $(".email").focus(function() {
                $(".email-icon").css("left","-48px");
            });
            $(".email").blur(function() {
                $(".email-icon").css("left","0px");
            });

            $(".password").focus(function() {
                $(".pass-icon").css("left","-48px");
            });
            $(".password").blur(function() {
                $(".pass-icon").css("left","0px");
            });
        });
    </script>
</head>
<body>

<!--NAVBAR-->
<div class="navbar">
    <!--NAVBAR-INNER-->
    <div class="navbar-inner my-navbar">
        <!--CONTAINER-->
        <div class="container">
            <!-- Home -->
            <a href="/" class="brand">
                <span>Acceuil</span>
            </a>

            <!-- Space Divider -->
            <ul class="nav">
                <li class="divider-vertical"></li>
            </ul>
        </div>
        <!--END CONTAINER-->
    </div>
    <!--END NAVBAR-INNER-->
</div>
<!--END NAVBAR-->

<!--WRAPPER-->
<div id="wrapper">
    <!--SLIDE-IN ICONS-->
    <div class="user-icon"></div>
    <div class="email-icon"></div>
    <div class="pass-icon"></div>
    <!--END SLIDE-IN ICONS-->

    <!--SIGN UP FORM-->
    <form name="signUp-form" action="/register" method="post" class="signUp-form">

        <!--HEADER-->
        <div class="header">
            <!--TITLE--><h1 class="text-center">Formulaire d'enregistrement</h1><!--END TITLE-->
        </div>
        <!--END HEADER-->

        <!--CONTENT-->
        <div class="content">
            <!--USERNAME-->
            <input name="username" type="text" onfocus="this.value=''" placeholder="Nom d'utilisateur" class="input username" required autofocus/>
            <!--END USERNAME-->
            <!--EMAIL-->
            <input name="email" type="email" onfocus="this.value=''" placeholder="Email" class="input email" required autofocus/>
            <!--END EMAIL-->
            <!--PASSWORD-->
            <input name="password" type="password" onfocus="this.value=''" placeholder="Mot de passe" class="input password" required/>
            <input name="passwordRepeat" type="password" onfocus="this.value=''" placeholder="Confirmez votre mot de passe" class="input password" required/>
            <!--END PASSWORD-->
        </div>
        <!--END CONTENT-->

        <!--FOOTER-->
        <div class="footer">
            <!--LOGIN BUTTON-->
            <input type="submit" name="submit" value="S'enregistrer" class="button" />
            <!--END LOGIN BUTTON-->
            <!--REGISTER BUTTON-->
            <!--<input type="submit" name="submit" value="Register" class="register" />-->
            <!--END REGISTER BUTTON-->
            <!--FORGOT BUTTON-->
            <!--<input type="submit" name="submit" value="Forgot password" class="forgot" />-->
            <!--END FORGOT BUTTON-->
        </div>
        <!--END FOOTER-->

    </form>
    <!--END LOGIN FORM-->

    <div class="span4 copyright">Mathieu PALOMBA - 2014</div>
</div>
<!--END WRAPPER-->

<% if (locals.message) { %>
<div class="alert alert-danger text-center"><%= locals.message %></div>
<% } %>

<!--GRADIENT--><div class="gradient"></div><!--END GRADIENT-->
</body>
</html>