<div class="container-fluid">
    <div class="row-fluid">

        <!--Sidebar content-->
        <div class="span2">
            <div class="informations-header">
                <p class="text-info">Total number of DVD: {{dvdList.length}}</p>
                <button type="button" ng-click="addDvd()" class="btn btn-primary btn-sm">Ajouter un film</button>
            </div>

            <div>Search: <input type="text" ng-model="query"></div>

            <div>Sort by:
                <select ng-model="orderProp">
                    <option value="name">Alphabetical</option>
                    <option value="age">Newest</option>
                </select>
            </div>
        </div>

        <!--Body content-->
        <div class="span10">
            <ul class="dvd-list">
                <li ng-repeat="dvd in dvdList | filter:query | orderBy:orderProp" class="thumbnail dvd-listing">
                    <a href="#/dvd/{{dvd.id}}" class="thumb"><img ng-src="{{dvd.imageUrl}}"></a>
                    <!-- We redirect to the correct view when the user click on the picture -->
                    <a href="#/dvd/{{dvd.id}}">{{dvd.name}} ({{dvd.price}}€)</a>
                    <!-- We redirect to the correct view when the user click on the description -->
                    <p>{{dvd.snippet}}</p>
                </li>
            </ul>

        </div>
    </div>
</div>