<h1>Ajout d'un nouveau film</h1>

<div class="row-fluid">
    <div class="span6">
        <!-- Form content -->
        <div class="row-fluid">
            <form name="dvdForm" class="form-horizontal">
                <div class="control-group">
                    <label for="inputDvdName" class="control-label">Nom du film</label>

                    <div class="controls">
                        <div class="input-append">
                            <input type="text" id="inputDvdName" ng-model="dvd.title" placeholder="Nom du film" required autofocus>
                            <button type="button"
                                    title="Pré-remplissage des champs si le film est répertorié"
                                    ng-click="checkMovieInformation()" ng-disabled="!(dvd.title.length>0)"
                                    popover-placement="{{dynamicFindPopoverPlacement}}" popover="{{dynamicFindPopover}}"
                                    popover-title="{{dynamicFindPopoverTitle}}" popover-trigger="{{dynamicFindPopoverTrigger}}"
                                    class="{{dvd.searchError ? 'btn btn-danger' : 'btn'}}">Rechercher
                            </button>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label for="inputDvdGenre" class="control-label">Genre</label>

                    <div class="controls">
                        <select id="inputDvdGenre" ng-model="dvd.genre">
                            <option ng-repeat="genre in genres">{{genre}}</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label for="inputDvdReleaseData" class="control-label">Date de sortie</label>

                    <div class="controls">
                        <input type="text" id="inputDvdReleaseData" ng-model="dvd.releaseDate"
                               placeholder="2014-01-31" required></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label for="inputDvdOverview" class="control-label">Resumé</label>

                    <div class="controls">
                        <textarea rows="10" id="inputDvdOverview" ng-model="dvd.overview" placeholder="Resumé du film"
                                  required class="textArea"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label for="inputDvdProductionCompanies" class="control-label">Sociétés de Production</label>

                    <div class="controls">
                        <textarea rows="2" id="inputDvdProductionCompanies" ng-model="dvd.productionCompanies"
                                  placeholder="MGM, Pixar, ..." required
                                  class="textArea"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label for="inputDvdDirector" class="control-label">Producteur</label>

                    <div class="controls">
                        <input type="text" id="inputDvdDirector" ng-model="dvd.director"
                               placeholder="James Cameron" required class="characterArea"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label for="inputDvdActors" class="control-label">Acteurs</label>

                    <div ng-repeat="actor in dvd.actors" class="controls">
                        <!--<textarea rows="2" id="inputDvdActors" ng-model="dvd.actors"-->
                        <!--placeholder="Acteurs (Jean Dujardin, Alexendra Lamy, ...)" required-->
                        <!--class="textArea"></textarea>-->
                        <input type="text" id="inputDvdActors" ng-model="dvd.actors[$index].name"
                               placeholder="Jean Dujardin (rôle)" required class="characterArea"></textarea>
                        <button type="button" id="addActor_{{$index}}" ng-click="addInputActor()" ng-show="($index==0)" class="btn btn-success btn-small">Add</button>
                        <button type="button" id="deleteActor_{{$index}}" ng-click="deleteThisActor($index)" ng-hide="!(dvd.actors.length>1)" class="btn btn-danger btn-small">Delete</button>
                    </div>
                </div>
                <div class="controls">
                    <button type="submit" id="saveButton" ng-click="performSave()" ng-disabled="!dvdForm.$valid || dvd.genre==''"
                            popover-placement="{{dynamicSavePopoverPlacement}}" popover="{{dynamicSavePopover}}"
                            popover-title="{{dynamicSavePopoverTitle}}" popover-trigger="{{dynamicSavePopoverTrigger}}"
                            class="btn btn-primary">Sauvegarder
                    </button>
                    <button type="button" id="cancelButton" ng-click="cancelAddDvd()" class="btn">Annuler</button>
                </div>
            </form>
        </div>
    </div>

    <div class="span6">
        <img id="moviePoster" src={{moviePoster}} width="480" height="250"
             class="{{moviePoster ? 'movie-poster' : ''}}">
    </div>
</div>