<div class="dvd-thumb">
    <img ng-src="{{dvd.moviePoster}}" class="dvd">
</div>

<h1>{{dvd.title}}</h1>
<p>
    <strong>Genre :</strong> {{dvd.genre}}
</p>
<p>
    <strong>Date de sortie :</strong> {{dvd.releaseDate}}
</p>
<p>
    <strong>Producteur :</strong> {{dvd.director}}
</p>
<p>
    <strong>Compagnies de production :</strong> {{dvd.productionCompanies}}
</p>
<!--<p>-->
    <!--<strong>Résumé :</strong></br>{{dvd.overview}}-->
<!--</p>-->
<dl>
    <dt>Résumé :</dt>
    <dd>{{dvd.overview}}</dd>
</dl>
<!--<p>-->
    <!--<strong>Acteurs :</strong>-->
    <!--<p ng-repeat="actor in dvd.actors">-->
        <!--{{actor.name}}-->
    <!--</p>-->
<!--</p>-->
<dl>
    <dt>Acteurs :</dt>
    <dd ng-repeat="actor in dvd.actors">{{actor.name}}</dd>
</dl>
<p>
    <strong>Préférence :</strong>
    <rating value="dvd.rate" max="max" readonly="isReadonly"></rating>
</p>
<p>
    <strong>Commentaires :</strong></br>{{dvd.comments}}
</p>
<div>
    </br>
    <button type="button" id="editButton" ng-click="editDvd(dvd.title)" class="btn btn-success edit-button">Editer</button>
    <button type="button" id="backButton" ng-click="back()" class="btn btn-danger back-button">Retour</button>
</div>