<div class="container-fluid">
    <div class="row-fluid">

        <!--Sidebar content-->
        <div class="span2">
            <div class="informations-header">
                <p class="text-info">Total number of DVD: {{dvdList.length}}</p>
                <button type="button" ng-click="addDvd()" class="btn btn-primary">Ajouter un film</button>
            </div>

            <div>Search: <input type="text" ng-model="query"></div>

            <div>Sort by:
                <select ng-model="orderProp">
                    <option value="title">Alphabetical</option>
                    <option value="age">Newest</option>
                </select>
            </div>
        </div>

        <!--Body content-->
        <div class="span10">
            <!--<ul class="dvd-list">-->
                <!--<li ng-repeat="dvd in dvdList | filter:query | orderBy:orderProp" class="thumbnail dvd-listing">-->
                    <!--<a href="#/dvd/{{dvd.id}}" class="thumb"><img ng-src="{{dvd.imageUrl}}"></a>-->
                    <!--&lt;!&ndash; We redirect to the correct view when the user click on the picture &ndash;&gt;-->
                    <!--<a href="#/dvd/{{dvd.id}}">{{dvd.name}} ({{dvd.price}}€)</a>-->
                    <!--&lt;!&ndash; We redirect to the correct view when the user click on the description &ndash;&gt;-->
                    <!--<p>{{dvd.snippet}}</p>-->
                <!--</li>-->
            <!--</ul>-->
            <ul class="dvd-list">
                <li ng-repeat="dvd in dvdList | filter:query | orderBy:orderProp" class="thumbnail dvd-listing">
                    <!-- We redirect to the correct view when the user click on the picture -->
                    <a href="#/dvd/{{dvd.title}}" class="thumb"><img ng-src="{{dvd.moviePoster}}" class="moviePoster"></a>
                    <!-- We redirect to the correct view when the user click on the description -->
                    <a href="#/dvd/{{dvd.title}}" class="lead">{{dvd.title}}</a>

                    <p><strong>Genre :</strong> {{dvd.genre}}</p>
                    <p><strong>Date de sortie :</strong> {{dvd.releaseDate}}</p>
                    <p><strong>Résumé :</strong> {{dvd.overview | overviewMaxLength}}</p>
                    <p><strong>Producteur :</strong> {{dvd.director}}</p>

                    <p><strong>Acteurs :</strong></p>
                    <p ng-repeat="actor in dvd.actors">
                        {{actor.name}}
                    </p>
                </li>
            </ul>

        </div>
    </div>
</div>