<h1>Ajout d'un nouveau film</h1>

<div class="row-fluid">
    <div class="span4">
        <!-- Form content -->
        <div class="row-fluid">
            <form name="dvdForm" class="form-horizontal">
                <div class="control-group">
                    <label for="inputDvdName" class="control-label">Nom du film</label>

                    <div class="controls">
                        <div class="input-append">
                            <input type="text" id="inputDvdName" ng-model="dvd.title" ng-change="dvdTitleChanged(dvd.title)" placeholder="Nom du film" required autofocus>
                            <div class="btn-group">
                                <button type="button"
                                        title="Pré-remplissage des champs si le film est répertorié"
                                        ng-click="checkMovieInformationByName()" ng-disabled="!(dvd.title.length>0)"
                                        popover-placement="{{dynamicFindPopoverPlacement}}" popover="{{dynamicFindPopover}}"
                                        popover-title="{{dynamicFindPopoverTitle}}" popover-trigger="{{dynamicFindPopoverTrigger}}"
                                        class="{{dvd.searchError ? 'btn btn-danger' : 'btn btn-info'}}">Rechercher
                                </button>
                                <button title="Autres films se rapprochant de la recherche" class="btn btn-info dropdown-toggle" data-toggle="dropdown" ng-disabled=" !(dvdIdResults.length>0) || !(dvd.title.length>0)">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a tabindex="-1" ng-click="otherDvdTitleChoice(dvdID)" ng-repeat="dvdID in dvdIdResults">{{dvdID.title + ' (' + dvdID.release_date + ')'}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <label for="inputDvdGenres" class="control-label">Genres</label>

                    <div class="controls dvdGenre">
                        <div>
                            <select id="inputDvdGenres" ng-model="currentGenre" ng-change="genreChange()">
                                <option value="" disabled>-- Sélectionner un genre --</option>
                                <option ng-repeat="genre in genres">{{genre}}</option>
                            </select>
                        </div>
                        <div ng-repeat="genre in dvd.genres">
                            <input type="text" id="inputDvdGenre" ng-model="dvd.genres[$index].name"
                                   placeholder="Action" required>
                            <button type="button" id="deleteGenre_{{$index}}" ng-click="deleteThisGenre($index)" ng-hide="!(dvd.genres.length>0)" class="btn btn-danger btn-small">Supprimer</button>
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <label for="inputDvdReleaseData" class="control-label">Date de sortie</label>

                    <div class="controls">
                        <!--Date picker-->
                        <div class="input-append">
                            <input type="text" id="inputDvdReleaseData" class="form-control" datepicker-popup="{{format}}" ng-model="dvd.releaseDate"
                                   is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Fermer"
                                   current-text="Aujourd'hui" toggle-weeks-text="Week-end" clear-text="Supprimer" readonly/>
                            <span class="input-group-btn">
                                <button class="btn btn-default" ng-click="open($event)">
                                    <i class="icon-calendar"></i>
                                </button>
                             </span>
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <label for="inputDvdOverview" class="control-label">Resumé</label>

                    <div class="controls">
                        <textarea rows="10" id="inputDvdOverview" ng-model="dvd.overview" placeholder="Resumé du film"
                                  required class="text-area"></textarea>
                    </div>
                </div>

                <div class="control-group">
                    <label for="inputDvdProductionCompanies" class="control-label">Sociétés de Production</label>

                    <div class="controls">
                        <textarea rows="2" id="inputDvdProductionCompanies" ng-model="dvd.productionCompanies"
                                  placeholder="MGM, Pixar, ..."
                                  class="text-area"></textarea>
                    </div>
                </div>

                <div class="control-group">
                    <label for="inputDvdDirector" class="control-label">Producteur</label>

                    <div class="controls">
                        <input type="text" id="inputDvdDirector" ng-model="dvd.director"
                               placeholder="James Cameron" required class="character-area">
                    </div>
                </div>

                <div class="control-group">
                    <label for="inputDvdActors" class="control-label">Acteurs</label>

                    <div ng-repeat="actor in dvd.actors" class="controls actor-block">
                        <!--<textarea rows="2" id="inputDvdActors" ng-model="dvd.actors"-->
                        <!--placeholder="Acteurs (Jean Dujardin, Alexendra Lamy, ...)" required-->
                        <!--class="text-area"></textarea>-->
                        <input type="text" id="inputDvdActors" ng-model="dvd.actors[$index].name"
                               placeholder="Jean Dujardin (nom)" required class="character-area">
                        <input type="text" ng-model="dvd.actors[$index].character"
                               placeholder="Brice de nice (rôle)" required class="character-area">
                        <button type="button" id="addActor_{{$index}}" ng-click="addInputActor()" ng-show="($index==0)" class="btn btn-success btn-small">Ajouter</button>
                        <button type="button" id="deleteActor_{{$index}}" ng-click="deleteThisActor($index)" ng-hide="!(dvd.actors.length>1)" class="btn btn-danger btn-small">Supprimer</button>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Type</label>
                    <div class="controls">
                        <div>
                            <select id="inputMovieFormat" ng-model="dvd.movieFormat">
                                <option value="" disabled>-- Sélectionner un format --</option>
                                <option ng-repeat="movieFormat in movieFormats">{{movieFormat}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Préférence</label>
                    <div class="controls">
                        <rating ng-model="dvd.rate" value="dvd.rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
                        <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>
                    </div>
                </div>

                <div class="control-group">
                    <label for="inputDvdLocation" class="control-label">Emplacement</label>

                    <div class="controls">
                        <input type="text" id="inputDvdLocation" ng-model="dvd.location"
                               placeholder="A1" class="character-area">
                    </div>
                </div>

                <div class="controls">
                    <button type="submit" id="saveButton" ng-click="performSave()" ng-disabled="!dvdForm.$valid || dvd.genre==''"
                            popover-placement="{{dynamicSavePopoverPlacement}}" popover="{{dynamicSavePopover}}"
                            popover-title="{{dynamicSavePopoverTitle}}" popover-trigger="{{dynamicSavePopoverTrigger}}"
                            class="btn btn-primary">Sauvegarder
                    </button>
                    <button type="button" id="cancelButton" ng-click="cancelAddDvd()" class="btn">Annuler</button>
                </div>
            </form>
        </div>
    </div>

    <div class="span4 offset4">
        <img id="moviePoster" ng-src={{moviePoster}} width="480" height="250"
             class="{{moviePoster ? 'add-movie-poster coin' : ''}}">

        <form name="imagePosterForm">
            <span class="btn btn-info btn-file">
                Rechercher
                <input type="file" enctype="multipart/form-data" ng-file-select="onFileSelect($files)" multiple>
            </span>
        </form>
    </div>
</div>