<h1>Edition du film {{dvd.oldTitle}}</h1>

<div class="row-fluid">
    <div class="span4">
        <!-- Form content -->
        <div class="row-fluid">
            <form name="dvdForm" class="form-horizontal">
                <div class="control-group">
                    <label for="inputDvdName" class="control-label">Nom du film</label>

                    <div class="controls">
                        <div class="input-append">
                            <input type="text" id="inputDvdName" ng-model="dvd.title" placeholder="Nom du film" required autofocus>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label for="inputDvdGenre" class="control-label">Genres</label>

                    <!--<div class="controls">-->
                        <!--<select id="inputDvdGenre" ng-model="dvd.genre">-->
                            <!--<option ng-repeat="genre in genres">{{genre}}</option>-->
                        <!--</select>-->
                    <!--</div>-->
                    <div class="controls dvdGenre">
                        <div><select id="inputDvdGenres" ng-model="currentGenre" ng-change="genreChange()">
                            <option value="" disabled>-- Sélectionner un genre --</option>
                            <option ng-repeat="genre in genres">{{genre}}</option>
                        </select>
                        </div>
                        <div ng-repeat="genre in dvd.genres">
                            <input type="text" id="inputDvdGenre" ng-model="dvd.genres[$index].name"
                                   placeholder="Action" required></textarea>
                            <button type="button" id="deleteGenre_{{$index}}" ng-click="deleteThisGenre($index)" ng-hide="!(dvd.genres.length>0)" class="btn btn-danger btn-small">Delete</button>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label for="inputDvdReleaseData" class="control-label">Date de sortie</label>

                    <div class="controls">
                        <input type="text" id="inputDvdReleaseData" ng-model="dvd.releaseDate"
                               placeholder="2014-01-31" required></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label for="inputDvdOverview" class="control-label">Resumé</label>

                    <div class="controls">
                        <textarea rows="10" id="inputDvdOverview" ng-model="dvd.overview" placeholder="Resumé du film"
                                  class="text-area" required></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label for="inputDvdProductionCompanies" class="control-label">Sociétés de Production</label>

                    <div class="controls">
                        <textarea rows="2" id="inputDvdProductionCompanies" ng-model="dvd.productionCompanies"
                                  placeholder="MGM, Pixar, ..."
                                  class="text-area"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label for="inputDvdDirector" class="control-label">Producteur</label>

                    <div class="controls">
                        <input type="text" id="inputDvdDirector" ng-model="dvd.director"
                               placeholder="James Cameron" class="character-area" required></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label for="inputDvdActors" class="control-label">Acteurs</label>

                    <div ng-repeat="actor in dvd.actors" class="controls">
                        <input type="text" id="inputDvdActors" ng-model="dvd.actors[$index].name"
                               placeholder="Jean Dujardin (rôle)" class="character-area" required></textarea>
                        <button type="button" id="addActor_{{$index}}" ng-click="addInputActor()" ng-show="($index==0)" class="btn btn-success btn-small">Add</button>
                        <button type="button" id="deleteActor_{{$index}}" ng-click="deleteThisActor($index)" ng-hide="!(dvd.actors.length>1)" class="btn btn-danger btn-small">Delete</button>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Préférence</label>
                    <div class="controls">
                        <rating ng-model="rate" value="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
                        <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>
                    </div>
                </div>
                <div class="control-group">
                    <label for="inputDvdComments" class="control-label">Commentaires</label>

                    <div class="controls">
                        <textarea rows="10" id="inputDvdComments" ng-model="dvd.comments" placeholder="Commentaires"
                                  class="text-area"></textarea>
                    </div>
                </div>
                <div class="controls">
                    <button type="submit" id="updateButton" ng-click="performUpdate()" ng-disabled="!dvdForm.$valid || dvd.genre==''"
                            class="btn btn-primary">Mettre à jour
                    </button>
                    <button type="button" id="cancelButton" ng-click="cancelEditDvd()" class="btn">Annuler</button>
                </div>
            </form>
        </div>
    </div>

    <div class="span4 offset4">
        <img id="moviePoster" src={{dvd.moviePoster}} width="480" height="250"
             class="{{dvd.moviePoster ? 'add-movie-poster' : ''}}">
    </div>
</div>