<div class="container-fluid">
    <div class="row-fluid">

        <!--Sidebar content-->
        <div class="span2">
            <div class="informations-header">
                <p class="text-info">Nombre total de DVD : {{dvdList.length}}</p>
                <button type="button" ng-click="addDvd()" class="btn btn-primary">Ajouter un film</button>
            </div>

            <ul class="inline">
                <li>
                    Rechercher :
                </li>
                <li>
                    <!--<div class="input-group">-->
                        <!--<span class="input-group-addon">@</span>-->
                        <!--<input type="text" ng-model="query" class="form-control" placeholder="Username">-->
                    <!--</div>-->
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-search"></i></span>
                        <input type="text" ng-model="query" class="span12" placeholder="Filtre">
                    </div>

                </li>
            </ul>
            <!--<div>Rechercher : <input type="text" ng-model="query"></div>-->

            <ul class="inline">
                <li>
                    Trier par :
                </li>
                <li>
                    <select ng-model="orderProp">
                        <option value="title">Alphabetique</option>
                        <!-- Reverse the sort order by adding a - symbol before the sorting value -->
                        <option value="-rate">Préférence</option>
                    </select>
                </li>
            </ul>
            <!--<div>Trier par :-->
                <!--<select ng-model="orderProp">-->
                    <!--<option value="title">Alphabetique</option>-->
                    <!--&lt;!&ndash; Reverse the sort order by adding a - symbol before the sorting value &ndash;&gt;-->
                    <!--<option value="-rate">Préférence</option>-->
                <!--</select>-->
            <!--</div>-->
        </div>

        <!--Body content-->
        <div class="span9 offset1">
            <ul class="dvd-list">
                <li ng-repeat="dvd in dvdList | filter:query | orderBy:orderProp" class="thumbnail dvd-listing">
                    <div class="row-fluid">
                        <!-- We redirect to the correct view when the user click on the picture -->
                        <div class="span3">
                            <a href="{{href}}{{dvd.title}}" class="thumb"><img ng-src="{{dvd.moviePoster}}" class="movie-poster"></a>
                        </div>

                        <!-- We redirect to the correct view when the user click on the description -->
                        <div class="span9">
                            <button type="button" id="deleteButton" ng-click="deleteDvd(dvd)" class="btn btn-danger delete-button">Supprimer</button>

                            <a href="{{href}}{{dvd.title}}" class="lead">{{dvd.title}}</a>

                            <p>
                                <strong>Genres :</strong> {{dvd.genres | dvdGenreInline}}
                            </p>

                            <p>
                                <strong>Date de sortie :</strong> {{dvd.releaseDate}}
                            </p>

                            <!--<p><strong>Résumé :</strong> {{dvd.overview | overviewMaxLength}}</p>-->
                            <dl>
                                <dt>Résumé :</dt>
                                <dd>{{dvd.overview | overviewMaxLength}}</dd>
                            </dl>

                            <p>
                                <strong>Producteur :</strong> {{dvd.director}}
                            </p>

                            <!--<p><strong>Acteurs :</strong></p>-->
                            <!--<p ng-repeat="actor in dvd.actors">-->
                                <!--{{actor.name}}-->
                            <!--</p>-->
                            <dl>
                                <dt>Acteurs :</dt>
                                <dd ng-repeat="actor in dvd.actors">
                                    <a href="https://www.google.fr/search?q={{actor.name}}">{{actor.name}}</a> ({{actor.character}})
                                </dd>
                            </dl>

                            <p>
                                <strong>Préférence :</strong>
                                <rating value="dvd.rate" max="max" readonly="isReadonly"></rating>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>