<div class="dvd-thumb">
    <img ng-src="{{dvd.moviePoster}}" class="dvd">
</div>

<h1>{{dvd.title}}</h1>
<p>
    <strong>Genre :</strong> {{dvd.genre}}
</p>
<p>
    <strong>Date de sortie :</strong> {{dvd.releaseDate}}
</p>
<p>
    <strong>Producteur :</strong> {{dvd.director}}
</p>
<p>
    <strong>Compagnies de production :</strong> {{dvd.productionCompanies}}
</p>
<p>
    <strong>Résumé :</strong></br>{{dvd.overview}}
</p>

<p>
    <strong>Acteurs :</strong>
</p>
<p ng-repeat="actor in dvd.actors">
    {{actor.name}}
</p>

<button type="button" id="editButton" ng-click="editDvd(dvd.title)" class="btn btn-success editButton">Editer</button>
<button type="button" id="backButton" ng-click="back()" class="btn btn-danger backButton">Retour</button>