<div class="container-fluid">
    <div class="row-fluid">
        <h1>Compte de {{user.username}}</h1>
        <dl class="dl-horizontal">
            <dt>Nom d'utilisateur :</dt>
            <dd>{{user.username}}</dd>
        </dl>

        <dl class="dl-horizontal">
            <dt>Email :</dt>
            <dd>{{user.email}}</dd>
        </dl>

        <dl class="dl-horizontal">
            <dt>Admin :</dt>
            <dd>{{user.isAdmin ? 'Oui' : 'Non'}}</dd>
        </dl>

        <dl class="dl-horizontal">
            <dt>Date de création :</dt>
            <dd>{{user.created | date:'dd-MMMM-yyyy HH:MM:ss'}}</dd>
        </dl>
    </div>
</div>