<div class="container-fluid">
    <div class="row-fluid">
        <h1>Utilisateurs</h1>

        <dl class="dl-horizontal">
            <dt>Nombre d'utilisateurs :</dt>
            <dd><span class="badge badge-success">{{owners.length}}</span></dd>
        </dl>

        <div class="sub-section-content">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nom d'utilisateur</th>
                        <th>Nombre de films</th>
                        <th>Admin</th>
                        <th>Supprimer le compte</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="owner in owners">
                        <td>
                            <a href="#/dvd-list/{{owner.userName}}" class="lead">{{owner.userName}}</a>
                        </td>
                        <td>
                            <span class="badge badge-info">{{owner.dvd.length}}</span>
                        </td>
                        <td>
                            <i class="{{owner.isAdmin ? 'icon-ok' : ' icon-remove'}}"></i>
                        </td>
                        <td>
                            <button class="btn btn-small btn-danger" type="button" ng-click="deleteAccount(owner)" ng-disabled="owner.isAdmin">X</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>