<div class="container-fluid">
    <div class="row-fluid">
        <h1>Utilisateurs</h1>

        <dl class="dl-horizontal">
            <dt>Nombre d'utilisateurs :</dt>
            <dd><span class="badge badge-success">{{owners.length}}</span></dd>
        </dl>

        <table class="table">
            <thead>
            <tr>
                <th>Nom d'utilisateur</th>
                <th>Nombre de films</th>
                <th>Admin</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="owner in owners" class="{{owner.isAdmin ? 'warning' : ''}}">
                <td><a href="#/dvd-list/{{owner.userName}}" class="lead">{{owner.userName}}</a></td>
                <td><span class="badge badge-info">{{owner.dvd.length}}</span></td>
                <td>
                    <i class="{{owner.isAdmin ? 'icon-ok' : ' icon-remove'}}"></i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>