/** App css stylesheet **/

body {
    padding-top: 20px;
    background: url(../img/dvd-catalog/bg.png) repeat;
}

.myNavbar {
    margin-top: -18px;
}

.informations-header {
    padding-bottom: 50px;
}

.dvd-list {
    list-style: none;
}

.moviePoster {
    float: left;
    margin: 0.5em 1em 1em 0em;
    height: 380px;
    width: 250px;
}

.thumb {
    float: left;
    margin: -1em 1em 1.5em 0em;
    padding-bottom: 1em;
    height: 380px;
    width: 250px;
}

.dvd-list li {
    clear: both;
    height: 100%;
    padding-top: 20px;
    margin-bottom: 20px;
}

.deleteButton {
    float: right;
    margin-top: -30px;
}

/** Detail View **/
.dvd-thumb {
    float: left;
    padding: 0em 2em 2em 2em;
    /*background-color: white;*/
    background: url(../img/dvd-catalog/bg.png) repeat;
}

img.dvd {
    float: left;
    background-color: white;
    border: 2px inset black;
}

h1 {
    border-bottom: 1px solid gray;
    text-align: center;
}

.editButton {
    float: left;
    /*margin-top: -420px;*/
}

.backButton {
    float: right;
}

/** Add DVD view **/
.textArea {
    width: 500px;
    resize: none;
}

.characterArea {
    width: 250px;
    resize: none;
}

.movie-poster {
    border: 2px inset black;
}