/** App css stylesheet **/

html, body {
    height: 100%;
}

body {
    padding-top: 20px;
    background: url(../img/dvd-catalog/bg.png) repeat;
}

.footer {
    /*width:100%;*/
    text-align: center;
    padding: 5px 0px;
    margin-top: 70px;
    border-top: 1px solid rgb(229, 229, 229);
    background-color: rgb(196, 208, 212);
}

.footer-links {
    list-style-type: none;
    /*margin: 10px 0px;*/
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px; /* the bottom margin is the negative value of the footer's height */
}

footer, .push {
    clear: both;
    height: 60px; /* '.push' must be the same height as 'footer' */
}

.my-navbar {
    margin-top: -18px;
}

/** Detail List **/
.informations-header {
    padding-bottom: 50px;
}

.dvd-list {
    list-style: none;
}

.dvd-list li {
    float: left;
    clear: both;
    height: 100%;
    width: 90%;
    /*padding-top: 20px;*/
    /*margin-bottom: 20px;*/
}

.movie-poster {
    float: left;
    margin: 0.5em 1em 0em 0em;
    /*height: 380px;*/
    /*width: 260px;*/
    height: 100%;
    width: 90%;
}

.thumb {
    float: left;
    margin: -1em 1em 1.5em 0em;
    padding-bottom: 1em;
}

.delete-button {
    float: right;
    /*margin-top: -30px;*/
}

.accordion-body.in:hover {
    overflow:visible;
}

/** Detail View **/
.dvd-thumb {
    float: left;
    padding: 0em 2em 2em 2em;
    /*background-color: white;*/
    background: url(../img/dvd-catalog/bg.png) repeat;
}

img.dvd {
    float: left;
    background-color: white;
    border: 2px inset black;
}

h1 {
    border-bottom: 1px solid gray;
    text-align: center;
}

.edit-button {
    float: left;
    /*margin-top: -420px;*/
}

.back-button {
    float: right;
}

/** Add and Edit DVD view **/
.text-area {
    width: 450px;
    resize: none;
}

.character-area {
    width: 250px;
    resize: none;
}

.actor-block {
    margin-bottom: 10px;
}

.add-movie-poster {
    border: 2px inset black;
}

.dvdGenre {
    margin-bottom: 20px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}